---

---
<a href="/contact" class="w-full md:w-[70%] py-5 px-10 text-[#0a0a0a] bg-[#ffd60a] rounded-lg cursor-pointer transition-all duration-300 hover:scale-105 active:scale-105 relative overflow-hidden group relative before:absolute before:left-[60px] drop-shadow-[0_4px_0px_rgba(255,214,10,0.40)] animate-bounce block m-auto">
    <span class="absolute inset-0 bg-gradient-to-r from-transparent via-white/80 to-transparent -translate-x-full group-hover:translate-x-full transition-transform duration-500"></span>
    <span class="relative font-oswald text-[#0A0A0A] md:text-2xl tracking-tighter">APLICAR A UNA AUDITORÍA AHORA</span>
    <span class="font-medium text-xs block opacity-50 md:text-[16px]">5 spots disponibles (Enero del 2026)</span> 
</a>
