---
import WhatsApp from "../../Icons/WhatsApp.astro";
---
    <a href="#auditoria" class="group block relative rounded-xl mt-10">
        <div class="absolute -bottom-1 left-0 bg-[#008060] w-full h-4 block -z-1 rounded-b-xl"></div>
        <div class="relative flex items-center justify-center gap-3 py-4 bg-[#039784] rounded-xl">
            <div class="group-hover:translate-x-2 transition-transform duration-300">
                <WhatsApp size="32" color="#d8e8e6"/>
            </div>
            <span class="text-[1rem] font-white font-bold uppercase">
                Pedir Auditoría gratis
            </span>
        </div>
    </a>
