---
import WhatsApp from "../../Icons/WhatsApp.astro";


---

<div class="hidden lg:block">
    <a 
        href="#auditoria" 
        class="group relative inline-flex items-center justify-center font-bold text-[15px] text-white transition-all duration-500 rounded-xl overflow-visible"
    >
        <!-- <span class="absolute -inset-1 bg-gradient-to-r from-primary via-[#00ffc6] to-primary bg-[length:200%_100%] opacity-70 blur-xl group-hover:opacity-100 group-hover:blur-2xl transition-all duration-500 animate-gradient"></span> -->
        <!-- <span class="absolute inset-0 bg-gradient-to-r from-primary via-[#00ffc6] to-primary bg-[length:200%_100%] rounded-xl opacity-80"></span> -->
        
        <span class="relative z-10 flex items-center gap-2.5 bg-gradient-to-br from-[#0a0a0a] via-[#1a1a1a] to-[#0a0a0a] px-7 py-3 rounded-[11px] m-[1.5px] backdrop-blur-xl group-hover:from-[#0f0f0f] group-hover:via-[#1f1f1f] group-hover:to-[#0f0f0f] transition-all duration-300">
            <span class="relative">
                Pedir Auditoría
                <span class="absolute inset-0 bg-gradient-to-r from-primary to-[#00ffc6] bg-clip-text text-transparent opacity-0 group-hover:opacity-100 transition-opacity duration-300">
                    Pedir Auditoría
                </span>
            </span>
            
            <div class="group-hover:translate-x-1 transition-transform duration-300 z-10">
                <WhatsApp size="20" color="#01dbb0"/>
            </div>
        </span>
    </a>
</div>