---
import WhatsApp from "../../Icons/WhatsApp.astro";


---

<div class="hidden lg:block">
    <a 
        href="#auditoria" 
        class="group relative flex items-center justify-center gap-1 text-[15px] text-white transition-all duration-200 rounded-sm overflow-visible bg-[#0b8484] px-6 py-2
        hover:opacity-90 hover:scale-105"
    >         
            <div>
                <WhatsApp size="20" color="#ffffff"/>
            </div>
            <span class="text-xs">Pedir Auditoria por Whatsapp</span>
        </span>
    </a>
</div>