---
import WhatsApp from "../../Icons/WhatsApp.astro";


---

<div class="hidden lg:block">
    <a 
        href="#auditoria" 
        class="group relative flex items-center justify-center gap-1 text-white transition-all duration-200 rounded-sm overflow-visible bg-gradient-to-r from-[#009193] via-[#086969] to-[#009193]  px-6 py-3
        hover:opacity-90 hover:scale-105"
    >         
            <div>
                <WhatsApp size="20" color="#ffffff"/>
            </div>
            <span class="text-[16px] font-bold font-oswald uppercase tracking-[0.2]">Pedir Auditoria por Whatsapp</span>
        </span>
    </a>
</div>