---
import { Image } from "astro:assets";
import Perfil from '../../assets/perfil.svg';
import Verify from '../../Icons/Verify.astro';
---
<div class="flex flex-row items-center gap-1">
    <div class=" w-[34px] h-[34px] md:w-[39px] md:h-[39px] md:p-[2px] rounded-full bg-gradient-to-br from-[#f09433] via-[#e6683c] via-[#dc2743] via-[#cc2366] to-[#bc1888] inline-flex items-center justify-center">
        <Image 
            src={Perfil}
            alt="Jose Whittembury"
            class="w-[30px] h-[30px] md:w-[35px] md:h-[35px] rounded-full object-cover bg-white"
        />
    </div>
    <span class="text-base md:text-[18px] ml-[4px] flex items-center justify-center">
            <p>Jose Whittembury</p>
            <!-- <span class="hidden md:inline">
                <Verify width={30} height={30} />
            </span> -->
    </span>
</div> 