---
import Image from "astro/components/Image.astro"
import Perfil from '../../assets/perfil.svg';
import Verify from '../../Icons/Verify.astro';
---
<div class="flex items-center gap-1 border-3 border-white/20 bg-gradient-to-br from-white/5 to-white/10 px-3 py-2 rounded-lg shadow-lg md:border-none md:bg-transparent md:shadow-none">
    <div class="p-[2px] rounded-full bg-gradient-to-br from-[#f09433] via-[#e6683c] via-[#dc2743] via-[#cc2366] to-[#bc1888] inline-flex items-center">
        <Image 
            src={Perfil}
            alt="Jose Whittembury"
            class="w-[50px] h-[50px] rounded-full object-cover bg-white"
        />
    </div>
    <span class="text-base md:text-[22px] font-bold ml-[7px] flex items-center justify-center">
            <p>Jose Whittembury</p>
            <Verify width={30} height={30} />
    </span>
</div> 