---
import Button from "../components/Ebook/Button.astro";
import EbookLayout from "../layouts/EbookLayout.astro";
import Image3 from "../../public/iamges/landing-Page.svg"
---

<EbookLayout bg="#060e17">
    <span class="font-logo text-white/80 text-center text-[2rem] block pt-10 pb-[32px] md:pb-[64px] bg-[#060e17]">
      HackDental
    </span>

    <section class="p-2 md:p-0 bg-[#060e17] mb-[50px] relative">
      <div class="block max-w-[100%] md:max-w-[70%] m-auto mb-[40px]">
        
        <h1 class="sub-title-section text-[#9aa1ad] text-center">
          GRACIAS POR CONFIAR EN HACKDENTAL.COM
        </h1>

        <h2 class="title-section text-[#fefefe] text-center mb-[24px]">
          NOS PONDREMOS EN CONTACTO EN <br /> MENOS DE 24 HORAS.
        </h2>

        <p class="text-[#b7b7b7] text-center text-[18px] ">
          Un representante se contactará contigo por WhatsApp
        </p>

        <div class="flex flex-col md:flex-row items-center justify-center w-full max-w-4xl mx-auto px-4">
          
          <img src={Image3.src} alt=""/>


        </div>

        <p class="text-[#b7b7b7] text-center mb-[24px] text-[18px] md:text-[21px]">
          Si tienes alguna duda extra, acá te dejo mi número personal.
        </p>

        <Button subtext="+51 913326161" useArrow={false} image={true}>
          CONSULTA POR WHATSAPP
        </Button>

      </div>
    </section>
  
</EbookLayout>
