---
import Mountains from "./Decorations/Mountains.astro";
import TopSpainFlag from "./TopSpainFlag.astro";
import Button from "./Ebook/Button.astro";
import AlertTriangle1 from "../Icons/Ebook/AlertTriangle1.astro";
import ButtonWppChat from "./Buttons/ButtonWppChat.astro";
---

<main class="h-[90vh] relative">
    <!-- AQUI LO IMPORTO DE ESA MANERA -->
    <ButtonWppChat/> 
    <section class="text-center pt-10 md:pt-20 md:max-w-4xl mx-auto px-[16px] md:px-4">
        <p class="hero-subtitle uppercase flex items-center justify-center text-sm gap-2 mb-3 text-brand-red font-bold">
            <span><AlertTriangle1 size="18" color="#D92027"/></span> SOLO PARA DUEÑOS DE CLÍNICA DENTALES
        </p>
        
        <h1 class="title-hero text-[f6f9fc]">
                RECIBE UNA AUDITORÍA DE MARKETING GRATUITA
        </h1>

        <p class="title-hero uppercase text-[#9ca3af]">Y CONVIERTE TU CONSULTORIO DENTAL</p>

        <div class="flex gap-1 items-center justify-center">
            <p class="title-hero uppercase text-[#9ca3af]">EN EL</p>
            <TopSpainFlag />
        </div>

        <!-- CTA Section -->
        <div class="max-w-2xl mx-auto">
            <div class="flex flex-col items-center justify-center mb-8 md:mt-8 mt-4 tracking-tight">
                <p class="text-[#9ca3af] text-[18px] md:leading-[1.3] leading-[1.2]">Trabaja directamente con el fundador de <span class="text-[#f6f9fc]">Hackdental</span> en tu estrategia de marketing.</p>
            </div>

            <!-- CTA Button -->
            <!-- <ButtonCTAHero /> -->
            <Button
                subtext="Reunete con Jose Whittembury"
                useBounce={true}
                useArrow={false}
                width="w-full"
                mdWidth="md:w-[85%]"
                button={false}
                image={true}
                >
                QUIERO APLICAR A UNA AUDITORÍA
            </Button>

            <strong class="font-light text-sm mt-4 block text-[#9e9e9e]">
                Sin compromiso de compra. Análisis 100% personalizado.
            </strong>
        </div>
    </section>
    
    <Mountains />
   
</main>
