---
import Image from "astro/components/Image.astro";
import AlertTriangle1 from "../Icons/Ebook/AlertTriangle1.astro";
import Money from "../Icons/Money.astro";
import Rocket from "../Icons/Rocket.astro";
import RoundedSpain from "../Icons/RoundedSpain.astro";
import Button from "./Ebook/Button.astro";
import ImagenSection from '../../public/iamges/image-section-calidad.svg';
import Mountains from "./Decorations/Mountains.astro";
import ArrowRight from "../Icons/Ebook/ArrowRight.astro";
import Cursor from "../Icons/Cursor.astro"
import WhatsAppBg from "../Icons/WhatsAppBg.astro"
import StatsLoose from "../Icons/StatsLoose.astro"



---
<section class="w-full bg-[#f6f9fc] py-10 relative">
    <Mountains/>
    <div class="text-center md:pt-20 md:max-w-3xl mx-auto px-[16px] md:px-4">
        <header class="pb-5">
            <h3 class="title-section text-[#213343] md:title-section-desk">ERES UN ODONTÓLOGO <br> PROFESIONAL EN ESPAÑA PERO....</h3>
            <p class="title-section text-[#364b4b] md:title-section-desk">¿SABES CONSEGUIR <br> NUEVOS PACIENTES ONLINE?</p>
        </header>
        <p class="text-[#213343] md:text-[21px] text-[18px]">
            <span class="block leading-[1.2] mb-6">Quieres abrir tu segunda clínica...Pero tu primera apenas sobrevive.</span>
            <span class="block leading-[1.2] mb-6">Facturas 10,000€ al mes cuando deberías estar en 30,000€.</span>
            <span class="block leading-[1.2] mb-6">Tus tratamientos son de calidad y por eso recibes algunos pacientes por recomendación.</span> 
            <span class="block leading-[1.2] mb-6">Pero este metodo es lento. Impredecible. Dificil de escalar.</span> 
            <b class="block leading-[1.2]">¿Cómo vas a abrir 3 clínicas si no sabes llenar una?</b>  <br> 
        </p>
        <picture class="w-full">
            <Image src={ImagenSection} alt={''}/>
        </picture>

        <div class="px-3 py-8 border-1 border-gray-500/10 bg-[#9ca3af]/10 rounded-sm">
            <h3 class="title-section text-[#213343] md:title-section-desk mb-5" >El problema de ser un odontologo en el 2026:</h3>
            <p class="text-[#213343] md:text-[21px] text-[18px]">
                <span class="block leading-[1.2] mb-6">Ya no basta con hacer un buen servicio para atraer nuevos clientes</span>
                <span class="block leading-[1.2] mb-6">Una publicidad nueva en facebook no llamara la atencion de nadie</span>
                <span class="block leading-[1.2] mb-6"><b>Necesitas convertir tu consultorio Dental en un negocio viable digital</b></span>
            </p>
            <div class="flex items-center gap-4 justify-center">
                <picture class="">
                    <img src="../iamges/imagen x derecha.svg" alt="" class="block w-[250px] h-[350px]" loading="lazy"/>
                </picture>
                <ArrowRight size="32" color="#e3eaf1"/>
                <picture class="">
                    <img src="../iamges/imagen-odo-2026-izquierda-2.svg" alt="" class="block w-full h-[450px]" loading="lazy" />
                </picture>
            </div>
 
            <span class="font-inter font-semibold text-[21px] text-[#213343] my-[30px] block">te identificas con esto?</span>
            <div class="flex felx-col md:flex-row items-center text-[#213343] justify-center mb-[20px]">
                <div class="flex gap-3  items-center px-3 py-6">
                    <div>
                        <span class="block font-inter font-medium text-[18px] text-start">Sitio web</span>
                        <span class="block font-oswald font-bold text-[28px] text-start leading-[0.8]">Generico</span>
                    </div>
                    <div class="grid place-items-center bg-[#455a64] w-[40px] h-[40px] rounded-full">
                        <Cursor size="16"/>
                    </div>
                </div>
                <div class=" flex gap-3 items-center border-x-1 border-gray-500/40 px-3 py-6">
                    <div>
                        <span class="block font-inter font-medium text-[18px] text-start">WhatsApp con</span>
                        <span class="block font-oswald font-bold text-[28px] text-start leading-[0.8]"><b>Respuestas lentas</b></span>
                    </div>
                    <WhatsAppBg size="40" color="#158740"/>
                </div>
                <div class=" flex gap-3 items-center px-3 py-6">
                    <div>
                        <span class="block font-inter font-medium text-[18px] text-start">Publicidad que</span>
                        <span class="block font-oswald font-bold text-[28px] text-start leading-[0.8]"><b>Pierde Dinero</b></span>
                    </div>
                    <StatsLoose size="40" color="#b11111"/>
                </div>
            </div>
            <Button subtext="recibe una auditoria de marketing gratuita" width="full" mdWidth="full" useArrow={false}>
                Si, quiero resolver esos problemas este 2026
            </Button>
        </div>

        <div class="py-6 px-4 mt-4 bg-[#eff7f7] border-[#010101]/10 border-1 rounded-lg ">
            <strong class="font-oswald font-bold uppercase text-[28px] text-[#213343] mb-6">Mi propuesta para ti:</strong>
            <p class="text-[#213343] md:text-[21px] text-[18px] font-inter font-medium leading-[1.2] mb-6" >Trabaja con un especialista en Marketing de Clinicas Dentales...  Conmigo, el fundador de HackDental</p> 
            <p class="text-[#213343] md:text-[21px] text-[18px] font-inter font-light leading-[1.2] mb-6">Seria para mi un honor que me permitas diagnosticar los problemas de marketing y ventas que pueda tener tu consultorio.</p>
            <p class="text-[#213343] md:text-[21px] text-[18px] font-inter font-light leading-[1.2] mb-6">Solo acepto 5 clinicas cada mes, si te interesa, aplica hoy mismo.</p>

            <div class="flex items-center gap-4 justify-between mb-[40px]">
                <div class="p-6 rounded-[60px] bg-[#d2ebeb] flex flex-col ">
                    <span class="font-oswald text-[28px] font-bold text-[#2c3642]">ANTES</span>
                    <picture class="">
                        <img src="../iamges/imagen x derecha.svg" alt="" class="block w-[230px] h-[230px]" loading="lazy"/>
                    </picture>
                </div>
                <ArrowRight size="42" color="#213343"/>
                <div class="p-6 rounded-[60px] bg-[#d2ebeb] flex flex-col ">
                    <span class="font-oswald text-[28px] font-bold text-[#2c3642]">DESPUES</span>
                    <picture class="">
                        <img src="../iamges/imagen-odo-2026-derecha.svg" alt="" class="block w-[250px] h-[250px]" loading="lazy"/>
                    </picture>
                </div>
            </div>

            <span id="button-mobile">
                <Button width="w-full" mdWidth="w-full" useArrow={false} subtext="ES 100% GRATIS DURANTE FEBRERO">
                    <span class="text-[1rem]">QUIERO UNA AUDITORIA DE MARKETING</span>
                </Button>
            </span>
            <span id="button-desk">
                <Button width="w-full" mdWidth="w-full" useArrow={false} subtext="ES 100% GRATIS DURANTE FEBRERO">
                    <span class="md:text-[24px]">QUIERO UNA AUDITORIA DE MARKETING</span>
                </Button>
            </span>

            <span class="font-inter font-semibold md:text-[21px] text-[18px] my-[30px] text-[#213343] block"> Aplica ahora si tu consultorio dental cumple lo siguiente:</span>

            <div class="flex felx-col md:flex-row items-center text-[#213343] justify-between mb-[20px] bg-[#086969]/10 rounded-xl">
                <div class="flex gap-3  items-center px-3 py-6">
                    <div>
                        <span class="block font-inter font-medium text-[18px] text-start">Ubicados en</span>
                        <span class="block font-oswald font-bold text-[28px] text-start leading-[0.8]">España</span>
                    </div>
                        <RoundedSpain size="40"/>
                </div>
                <div class=" flex gap-3 items-center border-x-1 border-gray-500/40 px-3 py-6">
                    <div>
                        <span class="block font-inter font-medium text-[18px] text-start">Facturan mas de</span>
                        <span class="block font-oswald font-bold text-[28px] text-start leading-[0.8]"><b>10,000 euros</b></span>
                    </div>
                    <Money size="40" color="#eab308"/>
                </div>
                <div class=" flex gap-3 items-center px-3 py-6">
                    <div>
                        <span class="block font-inter font-medium text-[18px] text-start">Busca crecer en</span>
                        <span class="block font-oswald font-bold text-[28px] text-start leading-[0.8]"><b>2026</b></span>
                    </div>
                    <Rocket size="40" color="#ea580c"/>
                </div>
            </div>

        </div>
        
    </div>
</section>

<script>
const buttonMobile = document.getElementById('button-mobile') as HTMLButtonElement
const buttonDesktop = document.getElementById('button-desk') as HTMLButtonElement
const alertTriangle = document.getElementById('alertTriangle1') as HTMLSpanElement

const widthOfWindow = window.innerWidth;

const isMobile = widthOfWindow <= 780
const isDektop = widthOfWindow >= 1024

if(isMobile) {
    buttonMobile.classList.remove('hidden')
    buttonDesktop.classList.add('hidden')
    alertTriangle.classList.add('hidden')
}

if(isDektop){
    buttonMobile.classList.add('hidden')
    buttonDesktop.classList.remove('hidden')
    alertTriangle.classList.remove('hidden')
}


</script>