---
import Image from "astro/components/Image.astro";
import AlertTriangle1 from "../Icons/Ebook/AlertTriangle1.astro";
import Money from "../Icons/Money.astro";
import Rocket from "../Icons/Rocket.astro";
import RoundedSpain from "../Icons/RoundedSpain.astro";
import Button from "./Ebook/Button.astro";
import ImagenSection from '../../public/iamges/image-section-calidad.svg'
import Cancel from "../Icons/Cancel.astro";
import Mountains from "./Decorations/Mountains.astro";
---
<section class="w-full bg-[#f6f9fc] py-10 relative">
    <Mountains/>
    <div class="text-center md:pt-20 md:max-w-3xl mx-auto px-[16px] md:px-4">
        <header class="pb-5">
            <h3 class="title-section text-[#213343] md:title-section-desk">ERES UN ODONTÓLOGO <br> PROFESIONAL EN ESPAÑA PERO....</h3>
            <p class="title-section text-[#364b4b] md:title-section-desk">¿SABES CONSEGUIR <br> NUEVOS PACIENTES ONLINE?</p>
        </header>
        <p class="text-[#213343] md:text-[21px] text-[18px]">
            <span class="block leading-[1.2] mb-6">Quieres abrir tu segunda clínica...Pero tu primera apenas sobrevive.</span>
            <span class="block leading-[1.2] mb-6">Facturas 10,000€ al mes cuando deberías estar en 30,000€.</span>
            <span class="block leading-[1.2] mb-6">Tus tratamientos son de calidad y por eso recibes algunos pacientes por recomendación.</span> 
            <span class="block leading-[1.2] mb-6">Pero este metodo es lento. Impredecible. Dificil de escalar.</span> 
            <b class="block leading-[1.2]">¿Cómo vas a abrir 3 clínicas si no sabes llenar una?</b>  <br> 
        </p>
        <picture class="w-full">
            <Image src={ImagenSection} alt={''}/>
        </picture>

        <div class="py-5 text-[#213343] border-1 border-[#010101]/10 mt-[2px] rounded-lg">
            <b class="md:text-[21px] text-[18px]">Tus problemas :</b>
            <ul class="px-2">
                <li class="flex text-start md:justify-center gap-2 text-[18px] md:text-[21px] mb-3 leading-[1.2]"><span class="inline-block"><Cancel size="16"/></span> Tienes un sitio web generico</li>
                <li class="flex text-start md:justify-center gap-2 text-[18px] md:text-[21px] mb-3 leading-[1.2]"><span class="inline-block"><Cancel size="16"/></span> Un Whatsapp generico</li>
                <li class="flex text-start md:justify-center gap-2 text-[18px] md:text-[21px] mb-3 leading-[1.2]"><span class="inline-block "><Cancel size="16"/></span> Tu estrategia de marketing es copiar a tu competencia</li>
                <li class="flex text-start md:justify-center gap-2 text-[18px] md:text-[21px] mb-3 leading-[1.2]"><span class="inline-block"><Cancel size="16"/></span> Crees que atraeras a pacientes jovenes con TikTok.</li>
            </ul>
        </div>

        

        <div class="py-6 px-4 mt-4 bg-[#eff7f7] border-[#010101]/10 border-1 rounded-lg">
            <div class="py-6 text-[#213343] md:text-[21px] text-[18px]">
                <strong>Mi propuesta para ti:</strong>
                <p>Trabaja con un especialista en Marketing de Clinicas Dentales paradiagnosticar cualquier problema de marketing o ventas que tenga tu consultorio... <b>todo 100% gratis</b></p> 
            </div>
            <span id="button-mobile">
                <Button width="w-full" mdWidth="w-full" useArrow={false} subtext="totalemente gratis">
                    <span class="text-[1rem]">Quiero una auditoria de marketing</span>
                </Button>
            </span>
            <span id="button-desk">
                <Button width="w-full" mdWidth="w-full" useArrow={false}>
                    <span class="md:text-[24px]">Quiero una auditoria de marketing Gratis</span>
                </Button>
            </span>

            <span class="flex flex-col md:flex-row items-center justify-center gap-2 text-[#D92027] mt-[20px] text-xs md:text-sm uppercase font-medium "><span id="alertTriangle1"><AlertTriangle1 size="16" color="#D92027"/></span> Solo aplica a consultorios dentales que cumplan lo siguiente:</span>
            <div class="flex md:flex-row flex-col pt-4 gap-6 md:gap-2 items-center justify-center">
                <div class="md:basis-1/3 md:min-h-[7em]  flex gap-3 justify-center items-center">
                        <RoundedSpain size="24"/>
                    <p class="text-[#213343] md:text-sm text-xs text-start">Ubicados en España.</p>
                </div>
                <div class="md:basis-1/3 md:min-h-[7em]  flex gap-3 justify-center items-center">
                        <Money size="24" color="#eab308"/>
                    <p class="text-[#253343] md:text-sm text-xs text-start ">Facturan 10,000 Euros o mas al mes.</p>
                </div>
                <div class="md:basis-1/3 md:min-h-[7em]  flex gap-3 justify-center items-center">
                        <Rocket size="24" color="#ea580c"/>
                    <p class="text-[#253343] md:text-sm text-xs text-start">Quieren crecer en el 2026.</p>
                </div> 
            </div>
        </div>
        
    </div>
</section>

<script>
const buttonMobile = document.getElementById('button-mobile') as HTMLButtonElement
const buttonDesktop = document.getElementById('button-desk') as HTMLButtonElement
const alertTriangle = document.getElementById('alertTriangle1') as HTMLSpanElement

const widthOfWindow = window.innerWidth;

const isMobile = widthOfWindow <= 780
const isDektop = widthOfWindow >= 1024

if(isMobile) {
    buttonMobile.classList.remove('hidden')
    buttonDesktop.classList.add('hidden')
    alertTriangle.classList.add('hidden')
}

if(isDektop){
    buttonMobile.classList.add('hidden')
    buttonDesktop.classList.remove('hidden')
    alertTriangle.classList.remove('hidden')
}


</script>