---
import Spain from "../Icons/Spain.astro"
import RedLine from "../Icons/RedLine.astro"
---
    <div class="inline-flex items-center gap-2 relative font-oswald text-white text-[22px] md:text-[40px]">
        <p>#1 DE ESPAÑA</p>
        <!-- Bandera -->
        <Spain width="42" height="42" />

        <!-- Subrayado -->
        <figure class="absolute bottom-[-5px] left-0 w-full">
            <RedLine />
        </figure>
    </div> 