---
import Spain from "../Icons/Spain.astro"
import RedLine from "../Icons/RedLine.astro"
---
    <div class="inline-flex items-center gap-2 relative title-hero">
        <p>#1 DE ESPAÑA</p>
        <!-- Bandera -->
        <Spain size="42" />

        <!-- Subrayado -->
        <figure class="absolute md:bottom-[-15px] bottom-[-5px] left-0 w-full">
            <RedLine />
        </figure>
    </div> 